<head>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
    <script type="text/javascript">

  var app = angular.module('getFromGitHubApp', ["ngStorage"])

  function GetInfoFromGitHub($scope, $http){
	 $scope.RunSearch = function(name) {
	 dataurl ='https://api.github.com/search/repositories?q=' + name;
        $http.get(dataurl).success(function(data){
        $scope.Repositories = data.items;
		}
		)};
		app.controller('MyController', function ($scope, $sessionStorage) {
            $scope.bookmarksite = function (name,url) {
                $sessionStorage.SessionMessage = "Name:" +name + "Url:" + +url;
            }

        })
  }

function RunSearchOnEnterClicked(e)
{
 if (e.keyCode == 13)
    {
		document.getElementById('searchBtn').click();
	}
}
function SaveBookmarkToLocalStorage(str1)
{
	localStorage.setItem('bookmark', JSON.stringify(str1));
}
    </script>

</head>
<body>
    <div ng-app="getFromGitHubApp" ng-controller="GetInfoFromGitHub">
        <table>
            <tr >
                     <td >
                    Search in GitHub:
                    <br />
                    <br />
                    <button type="button" id="searchBtn" ng-click="RunSearch(enteredValue)">Search</button>
                    <input type="text" id="searchInput" onkeydown="RunSearchOnEnterClicked(event)" style="float:left;" ng-model="enteredValue">
                    <br />
                <td>
</tr>
            <tr ng-repeat="Repository in Repositories | filter:query">
                <td>
                    <h3>{{Repository.name}}</h3>
                <td>
                <td>
                    <img src="{{Repository.owner.avatar_url}}" style="height:100px;">
                <td>
                <td>
                    <button type="button" id="BookmarkBtn" onclick="javascript:SaveBookmarkToLocalStorage('{{Repository.name}}')"> Bookmark  {{Repository.name}}</button>
                <td>
            </tr>
        </table>
    </div>
</body>
